.signature
  #regards
  #taang

:javascript
  $(function () {
    var taangNames = ["Taang", "Tandg", "Tong", "T'ang", "T'aang", "Tang"];
    var name = taangNames[Math.floor(Math.random() * taangNames.length)];

    var firedTaang = false;

    playAudio(["/audio/regards.mp3", "/audio/regards.m4a"])
      .on("timeupdate", function (event) {
        if (!firedTaang && event.target.currentTime >= 2) {
          $("#taang").typed({
            strings: [name + "."],
            cursorChar: "",
            typeSpeed: 25
          });

          firedTaang = true;
        }
      })
      .on("play", function (event) {
        $("#regards").typed({
          cursorChar: "",
          strings: ["Regards,"],
          typeSpeed: 10
        });
      })
      .play();
  });
