%html
  %head
    %title regards, taang

    :css
      body {
        background: transparent url(/images/parchment.jpg) no-repeat;
        background-size: cover;
      }

  %body
    %h1 regards, taang

    = yield
